<!DOCTYPE html>
<html ng-app="shoppingList">
<head>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
  <div ng-controller="getData">
    <p>Search : <input type="text" ng-model="searchItem"></p>
    <button ng-click="myFunc(searchItem)"> Click Me! </button>
    <ul ng-repeat="list in data">
      <ul> {{list.name}}
        <li ng-repeat="item in list.items | filter : searchItem | orderBy : 'catagory'">
          {{item.name}} {{item.catagory}}
        </li>
      </ul>
    </ul>
  </div>
  <div ng-view></div>
</body>
<script src="scripts/app.js"></script>
</html>
